# This is an example file.
# Use a copy of this as a template for configuring a local `.env` file.
# When this webapp is run with foreman, variables defined in `.env` are
# loaded as environment variables.

# DEBUG is True by default. Set to 'False' to get debug logging.
#DEBUG='False'

# The PostgreSQL database URL.
# e.g. for local dev with a database 'mydb', user 'jdoe', password 'pa55wd':
DATABASE_URL="postgres://jdoe:pa55wd@127.0.0.1/mydb"

# Open Humans OAuth2 project settings.
OH_CLIENT_ID='client_id_here'
OH_CLIENT_SECRET='client_secret_here'

# Seeq API settings.
SEEQ_REFRESH_TOKEN='refresh_token_here'
SEEQ_API_KEY_PRODUCTION='api_key_production_here'
SEEQ_STUDY_ID='seeq_study_id_here'
