
<h2>About this connection</h2>
<p>
  This is a small "app" that connects <a href="https://seeq.io">Seeq</a> data
  to <a href="https://www.openhumans.org">Open Humans</a>. The following
  information describes how this connection app will work with you and your
  data.
</p>
<h3>What will this do?</h3>
<p>
  This app will access data from your Seeq account and transfer a copy to your
  Open Humans account. Access to your Seeq data is ongoing. The app will
  regularly update and transfer new Seeq files to your Open Humans account.
</p>
<h3>Who is running this app?</h3>
<p>
  This app is jointly operated by the Open Humans and Seeq teams.
</p>
<h3>What is Open Humans?</h3>
<p>
  Open Humans is a nonprofit project that has been funded by the Robert Wood
  Johnson Foundation and Knight Foundation. Their platform enables members to
  aggregate data and share data with researchers and citizen scientists.
</p>
<p>
  Data is private by default in Open Humans. You choose when to share.
  Members can decide to make data public, or can contribute it directly
  (and privately) to projects created by researchers and citizen
  scientists.
</p>
<p>
  Want to see what projects are currently inviting Seeq data?
  Visit our activity page in Open Humans:
  <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a>
</p>
<p>
  Interested in working with Seeq data in Open Humans? Read more
  here how to retrieve public data and create projects:
  <a href="https://www.openhumans.org/research/">https://www.openhumans.org/research/</a>
</p>
<h3>How can I deauthorize this connection?</h3>
<p>
  You can deauthorization access to Seeq data by:
  <ol>
    <li>Loading the Seeq app</li>
    <li>Opening the menu (three dots on the top right)</li>
    <li>Selecting "Manage external studies"</li>
    <li>Toggle the "Open Humans" study.</li>
  </ol>
  This deauthorization removes the ability to access your data in Seeq.
  You can reauthorize by toggling the switch again.
</p>
<p>
  You can deauthorize the app for your Open Humans account by:
  <ol>
    <li>Visiting the activity page:
      <a href="http://openhumans.org/activity/seeq/">http://openhumans.org/activity/seeq/</a>
    </li>
    <li>
      Selecting "Click here to remove this connection".
    </li>
  </ol>
  This deauthorization removes the ability to send messages and add data to
  your Open Humans account. You can reauthorize by selecting "Connect Seeq" on
  the activity page.
</p>
<h3>Security</h3>
<p>
  This app encrypted connections (SSL/TLS) to connect to Open Humans and Seeq
  for account authorization and data transfer. Please report security issues
  privately to Seeq and Open Humans staff.
</p>
<h3>Technical details</h3>
<p>
  Source code for this app:
  <a href="https://gitlab.com/seeqlabs/openhumans-seeq">https://gitlab.com/seeqlabs/openhumans-seeq</a>
</p>
